<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Daftar Restoran">
    <meta name="theme-color" content="#DB0000" />

    <title>Restaurants Apps</title>

    <link rel="manifest" href="../public/manifest.json" />
    <link rel="icon" href="../public/favicon.ico" />
    <link rel="apple-touch-icon" href="../public/icons/192x192.png" />

    <link rel="preload" crossorigin="anonymous" href="../public/fonts.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" crossorigin="anonymous" href="../public/fontawesome.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>



    <noscript>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" />
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" />
    </noscript>
</head>

<body>
    <a href="#content" class="skip-link">Skip to content</a>
    <!-- Mobile Navbar -->
    <div class="menumob">
        <div class="iconmenu" id="menu"><a href="javascript:void(0)">&#9776;</a></div>
        <div class="logomob">Rafa Apps</div>
        <div class="logomob">&nbsp;</div>
    </div>
    <nav id="drawer" class="navmob">
        <ul class="navlistmob">
            <li class="navitemsmob"><a href="/#">Home</a></li>
            <li class="navitemsmob"><a href="/#/favorite">Favorite</a></li>
            <li class="navitemsmob"><a target="_blank" href="https://www.instagram.com/opat12_">About Us</a></li>
        </ul>
    </nav>
    <!-- Desktop Navbar -->
    <nav class="nav">
        <a class="logo" href="">Rafa Apps</a>
        <ul class="navlist">
            <li class="navitems"><a href="/#">Home</a></li>
            <li class="navitems"><a href="/#/favorite">Favorite</a></li>
            <li class="navitems"><a target="_blank" href="https://www.instagram.com/0patt._">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div class="hero">
        <div class="heroinner">
            <h1 class="herotitle">Rafa Apps</h1>
            <p class="herosubtitle">Menyediakan Berbagai Makanan Favorit</p>
        </div>
    </div>

    <!-- Content -->
    <main id="content"></main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2020 - Rafa Apps</p>
    </footer>
</body>

</html>